<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiudaozhang.mapper.DataDictionaryMapper">
  <resultMap id="BaseResultMap" type="com.qiudaozhang.model.DataDictionary">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type_Code" jdbcType="VARCHAR" property="typeCode" />
    <result column="type_Name" jdbcType="VARCHAR" property="typeName" />
    <result column="value_Id" jdbcType="INTEGER" property="valueId" />
    <result column="value_Name" jdbcType="VARCHAR" property="valueName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type_Code, type_Name, value_Id, value_Name
  </sql>
  <select id="findByTypeCode" resultMap="BaseResultMap">
    select id,value_Id,value_Name
    from data_dictionary
    where type_Code = #{card_type}
  </select>
  <select id="findByTypeCodeValueId" resultType="java.lang.String">
    select value_Name
      from data_dictionary
      where type_Code = #{cardType} and
      value_id = #{valueId}
  </select>

</mapper>